/* General */
:root {
  --gray1: #c4c4c4;
  --gray2: #adadad;
  --gray3: #969696;
  --gray4: #848484;
  --gray5: #757575;
  --gray6: #5b5b5b;
  --gray7: #3f3f3f;
}

/* body:hover{
  opacity: 90%;
} */

p {
  background-color: var(--gray1);
  border-radius: 10px;
  /* text-align: center; */
  /* margin: auto; */
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-container {
  background-color: var(--gray2);
  height: 100px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.nav-icon {
  align-self: center;
  background-color: var(--gray7);
  padding: 15px;
  border-radius: 10px;
  color: var(--gray1);
}

.main-art {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-template-rows: repeat(2, minmax(auto, 1fr));
  height: 800px;
}

.main-art-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.main-art-items p {
  padding: 10px;
  margin: 10px;
}

.main-1 {
  background-color: var(--gray3);
}

.main-2 {
  background-color: var(--gray5);
}
.main-3 {
  background-color: var(--gray4);
}
.main-4 {
  background-color: var(--gray2);
}

.main-sub {
  background-color: var(--gray6);
  height: 500px;
  padding: 5% 40% 5% 13%;
}

.latest-post-grid {
  display: grid;
  /* grid-gap: 2px; */
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
}

.post-grid-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  background-color: var(--gray3);
  padding: 50px;
}

.post-grid-items:hover {
  opacity: 90%;
}

.post-grid-items p {
  padding: 15px;
  margin: 10px;
}

.four {
  grid-area: 2 / 1 / span 1 / span 2;
  background-color: var(--gray6);
}

.five {
  grid-area: 2 / 3;
}

.six {
  grid-area: 2 / 4;
}

.seven {
  grid-area: 3 / 1;
}

.eight {
  grid-area: 3 / 2;
}

.nine {
  grid-area: 3 / 3 / span 1 / span 2;
  background-color: var(--gray6);
}

.add-center {
  background-color: var(--gray6);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  background-color: var(--gray4);
  padding: 50px;
}

.community-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4 1fr);
  height: 700px;
}

.cl-one {
  grid-area: 1 / 1 / span 1 / span 2;
}

.cl-grid {
  background-color: var(--gray2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* text-align: center; */
  padding: 20px;
}

.cl-grid p {
  margin: 10px;
}

.featured-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--gray4);
}

.featured-container p {
  margin: 10px 40% 10px 5%;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* list-style-type: disc; */
  height: auto;
  background-color: var(--gray2);
}

.list-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.list-container ul {
  list-style-type: disc;
  margin-left: 7%;
}

.list-container li {
  margin-top: 20px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--gray4);
  height: 400px;
}

.newsletter p {
  margin-top: 20px;
}
